* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

nav {
    background-color: #FF6910;
    top: 0;
    display: flex;
    justify-content: center;
}

.header-cont {
    display: inline-flex;
    width: 1200px;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul a {
    display: inline-block;
    padding: 1.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
}

nav img {
    display: inline-block;
    align-self: center;
    height: 2rem;

}

.icons {
    color: #ffffff;
    align-self: center;
    display: inline-block;
    width: 100px;
}

/* MAIN SECTION */

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: .5em;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 33.3%;
    padding: 2rem 2.5rem;
    position: relative;
}

.product-card {
    background-color: #f6f6f6;
    height: 450px;
    display: inline-block;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-overlay {
    position: absolute;
}

.green-tag {
    position: relative;
    bottom: 3em;
    left: 0;
    padding: .3em 1.5em;
    background-color: #008013;
    color: white;
}

.red-tag {
    position: relative;
    bottom: 3em;
    left: 0;
    padding: .3em .5em;
    background-color: #FF2905;
    color: white;
}

.price {
    color: red;
}

.full-price {
    text-decoration: line-through;
    font-weight: lighter;
}

.top-overlay {
    font-size: 1.4em;
    position: absolute;
    top: 2em;
    right: 1.9em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fa-solid.fa-heart {
    padding: .8em;
    position: relative;
    background-color: #ffffff;
}

.fa-solid.fa-heart:hover {
    color: red;
}

/* FOOTER */

footer nav {
    background-color: #1A1A1A;
    top: 0;
    display: flex;
    justify-content: center;
}

.footer-cont {
    display: inline-flex;
    width: 1200px;
    justify-content: space-between;
}

.left-nav {
    color: #ffffff;
    align-self: center;
}

.right-nav {
    color: #ffffff;
    align-self: center;
}

.right-nav h5 {
    margin-bottom: 1em;
}